.new-response
  %h3.text-left
    Please Sign up or sign in to join this site
  .actions
    = link_to 'Sign in', new_user_session_path, class: 'session-links btn-primary pull-left'

    = link_to 'Sign up', post_path(@group.welcome_post), class: 'session-links btn-primary pull-left'
    .clearfix