- unless current_user
  = render partial: 'authorize'
.question.response-form
  .pull-left
    %h3= @group.name
    %p= @group.description
  .clearfix
  - if @group.questions.count == 0
    %h3.message
      This project is not ready yet
  - else
    = render partial: 'form'