.my-space.col-lg-4.col-sm-6.col-xs-12.pull-left
  %h3
    Entrance Questions
  - if @questions.count == 0
    .question.help-text
      %p
        You haven't created any questions. Ask something that seeks the viewpoint of the person you want to add to this group.
  .questions-container.reorderable
    - @questions.each do |question|
      = render partial: 'question', locals: {question: question}
  .new-question
  .questions-actions
    = link_to 'Add question', new_group_question_path, class: 'add-question', remote: true
.my-space.my-responses.col-lg-8.col-sm-6.col-xs-12.pull-left
  %h3
    Responses
  .responses-container
    = render partial: 'responses'
