= simple_form_for [@quick_poll, @question], remote: true do |f|
  = f.input :text, label: false
  .clearfix
  = f.submit 'Submit', class: 'btn-primary float-left'
  = link_to 'cancel', '#', class: 'cancel-form float-left', remote: true
  .clearfix