.group-post.post
  .post-actions.pull-right
  .post-title
    %h2= link_to post.name, group_path(post)
  .post-body
    .clearfix 
    .post-text  
      = raw(HTML_Truncator.truncate(post.description, 10))