.my-space
  .questions-container
    - if current_user && current_user == @group.user  
      .group-action
        = link_to 'New post', new_group_post_path(@group), remote: true, class: 'new-group-post'
    .new-post
    .posts-container
      = render partial: 'groups/posts/posts', locals: {posts: @posts.select{|p| p.featured?}.sort_by(&:updated_at).reverse}
      = render partial: 'groups/posts/posts', locals: {posts: @posts.reject{|p| p.featured?}}