.video
  - if current_user != video.post.user || !params[:preview]
    = link_to 'edit', edit_video_path(video, post_id: video.post.id), remote: true, class: 'edit-video pull-left'
    = link_to 'delete', video_path(video, post_id: video.post.id), remote: true, class: 'delete-video pull-right', method: 'delete'
    .clearfix
    .whitespace
  .edit-video-form-container
  - if video.iframe.present?
    .video-iframe
      = raw video.iframe
    %p.video-caption= video.caption
  - elsif false
    .video-canvas
      %video
        %source{ src: rails_blob_path( video.video_mp4), type: "video/mp4"}
        %source{ src: rails_blob_path( video.video_webm), type: "video/webm"}