.new-response
  %h3
    Please Sign up or sign in if you have already joined
  .actions
    = link_to 'Already joined', new_user_session_path, class: 'session-links btn-primary'
    %br
    = link_to 'Sign up', new_user_registration_path, class: 'session-links btn-primary'
