.post
  .whitespace
  .whitespace
  %h1.black.text-center
    How to build your small website to collect user feedback
  .whitespace
  .whitespace
  .whitespace
  %p.black
    If you need to build a web site with your own signup form, you can create a welcome page by clicking <a href="/">new page</a>, that suggest incoming user to signup, filling the data you wanted like address, gender etc. there will be mandatory questions seeking phone number and name along with a password on your signup form. To do this go to the page and click "pin a site" which will lead you to create a site with an optional name and description. now you have to click manage and this page allow you to create signup form questions.
    Now its time to go to your page and click pin a site which allow you to place your signup form associated to the site.now click on my site on naveigation bar and select the new site you have created. this will lead you to your actual site space where you can pin surveys quickpolls or even another signup form for a new site.