- if post.is_a? Post
  - upvote_link = upvote_group_post_path(post.group, post)
  - downvote_link = downvote_group_post_path(post.group, post)
- else
  - upvote_link = upvote_group_post_comment_path(post.post.group, post.post, post)
  - downvote_link = downvote_group_post_comment_path(post.post.group, post.post, post)
.vote.action.upvote.pull-left
  = link_to "#{post.upvote_count} upvotes", upvote_link, remote: true, method: :put, class: 'cast-vote'
.vote.action.downvote.pull-left
  = link_to "#{post.downvote_count} downvotes", downvote_link, remote: true, method: :put, class: 'cast-vote'
