- @responses.each do |r|
  .question
    = render partial: 'users/user_details', locals: {user: r.user}
    .clearfix
    .answers
      - r.answers.joins(:question).each do |a|
        .answer  
          .question-text.pull-left.col-lg-5.col-sm-5.col-xs-12
            = a.question.text
          .answer-text.pull-right.col-lg-5.col-sm-5.col-xs-12
            = a.text
          .clearfix

- if @responses.next_page
  .more-responses
    = link_to 'View more', survey_responses_survey_path(@survey, state: state, page: params[:page].present? ? params[:page].to_i + 1 : 2), remote: true, class: 'view-more'