- surveys.each do |g|
  = render partial: 'surveys/survey', locals: {survey: g, actions: true}
.more-responses
  - if surveys.next_page
    = link_to 'View more', search_surveys_path(query: params[:query], page: (params[:page].present? ? params[:page].to_i + 1 : 2)), remote: true, class: 'view-more'
