- posts.each do |p|
  = render partial: 'posts/small_post', locals: {post: p}
- unless defined?(featured) && featured
  .more-responses
  - if @posts.next_page
    = link_to 'View more', @next_path, class: 'view-more'
