.confirm_email
  - if current_user && current_user.otp != 'confirmed'
    = link_to 'confirm account', otp_path, class: 'send-otp-link'

- posts.each do |p|
  = render partial: 'posts/small_post', locals: {post: p, rel: 'canonical'}
- unless defined?(featured) && featured
  .more-responses
  - if @posts.next_page
    = link_to 'View more', @next_path, {class: 'view-more'}.merge(action_name == 'boo' ? {} : {rel: 'canonical'})
