.group-post.post{data: {id: post.id}}
  .post-actions.pull-right
  .post-title
    %h2.pull-left= link_to post.display_title, "/#{post.id}"
  - if Rails.env == 'development'
    %h5.pull-right.black
      = post.user.name
  .clearfix
  .post-body
    .clearfix 
    .post-text  
      = raw(HTML_Truncator.truncate(post.text, 10))