.group-post.post{data: {id: post.id}}
  .post-actions.pull-right
  .post-title
    %h2= link_to post.display_title, "/#{post.id}"
  .post-body
    .clearfix 
    .post-text  
      = raw(HTML_Truncator.truncate(post.text, 10))