.group-post.post.small-post
  .post-title
    %h2.pull-left= link_to "#{post.display_title}", "/#{post.id}"
  .clearfix
  .post-body
    .post-text  
      = raw(HTML_Truncator.truncate(post.text, 10))