.group-post.post.small-post
  .small-post-title
    %h1.text-left.text-left.pull-left.name= link_to "#{post.display_title}", "/#{post.id}", {}.merge(action_name == 'boo' ? {} : {rel: 'canonical'})
  .clearfix
  .post-body
    .post-text.text-left
      = raw(HTML_Truncator.truncate(post.text, 10))