.questions-container.whitish
  .search-panel.search
    = text_field_tag 'search',nil, placeholder: 'search nearby', data: {url: posts_path(page: 1)},class: 'search-field'
  
  .text-center.new-bussiness-lik
    .group-action
      - if current_user
        = link_to 'Add your service', new_post_path, remote: true, class: 'new-group-post'
      - else
        = link_to 'Add your service', new_user_registration_path(start: true), class: 'new-group-post'
  .clearfix


  .posts-container.posts
    - if @posts.length == 0
      .welcome
        %h1.text-center
          Everything in one hand
        %p.text-left
          This is a local search engin with web pages locally configured. Search nearby services or provide service to nearby people. You can contact to the other party directly through our tools.
          .clearfix

    = render partial: 'posts', locals: {posts: @posts}    
  .new-post