.questions-container
  .search-panel.search
    = text_field_tag 'search',nil, placeholder: 'search', data: {url: posts_path(page: 1)}
  .clearfix
  .group-action
    = link_to 'New page', new_post_path, remote: true, class: 'new-group-post'    
  .new-post
  .posts-container.posts
    = render partial: 'posts', locals: {posts: @posts.select{|p| p.featured?}.sort_by(&:updated_at).reverse, featured: true}
    = render partial: 'posts', locals: {posts: @posts.reject{|p| p.featured?}, featured: false}