%p.black
  This page you are going to create is your bussiness card. Introduce your business with name, place, phone numbers to contact you etc. Later you can customize this page with "contact us" forums or even a "sign up" form to your custom web page made with palkad.com. start exploring our features once you create this page.
= simple_form_for(@post, remote: true, html: { class: 'new-post-form' }) do |f|
  = render partial: 'form', locals: {f: f}
.clearfix