/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/right-to-left'
 *= require 'masonry/transitions'
 *= stub 'embed'
 *= stub 'post_styles'
 *= stub 'site_styles'
 */
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700,900&display=swap');

p {
  font-size: 24px;
}
.whitespace {
  overflow: auto;
  margin-top: 12px;
}
.manufacturer {
  font-size: 24px;
}
h1 {
  font-size: 30px;
}

a {
  font-size: 24px;
}
.flash {
  font-size: 24px !important;
}
.black {
  color: black;
}
.session-links {
  color: white !important;
  padding: 4px;
  margin-top: 12px;
  display: inline-block;
}
body {
	min-height: 100vh;
  background-color: white;
  background-attachment: fixed;
  background-size: cover;
  background-size: cover;
  font-family: 'Rubik', sans-serif;
  position: relative;
}
input, input:hover {
  color: #5c6622 !important;
}
input[type='submit']:hover {
  cursor: pointer;
}
form {
  background-color: #20261b !important;
}
form a {
  color: white;
}
#edit_post textarea {
  height: 90vh !important;
}
.nav-bar {
	background-color: #421f26;
	color: white;
	border-bottom: 4px solid #f9dc10;
}
.nav-bar .pull-right {
  padding: 0.5% 2%;
  margin: 1%;
  background: transparent;
  border-radius: 4px;
  font-size: 20px;
  color: white;
  text-transform: capitalize;
}
.nav-bar div {
	margin-right: 20px;
}
.common-bg {
	padding: 8px;
	overflow: auto;
}
.common-bg.home-show {
	padding-right: 0px;
}

.btn-primary {
	border-radius: 5px;
}
.flash {
  color: #ecef35;
  padding: 15px;
  border: 3px solid yellow;
  margin: 10px;
  border-radius: 10px;
  background: #130808;
}
.my-space {
	padding-left: 2px !important;
	padding-right: 2px !important;
	padding-bottom: 10px;
}
.user-details img {
	width: 30px;
}
.view-more {
	margin-bottom: 10px;
}
a.view-more {
  color: white;
}
.question, .group-post {
  border: 1px solid #3d3d40;
}
.new-post form {
  background-color: #afb8f2 !important;
  padding: 9px;
  border-radius: 7px;
  border: 2px solid black;
  margin: 5px;
}
.new-post input {
  color: black;
}
.new-post .image-upload {
  background: none;
}
body {
	width: 100%;
	overflow: hidden;
}
.page {
	background: #7c76cfd4;
	color: white;
	margin: auto;
	padding: 0px 0px 0px 0px;
	position: relative;
}
a, a:hover {
	color: black;
	text-decoration: none;
}
.banner p {
  margin: 12px 12px;
}
.banner {
  background-size: cover;
  position: relative;
  width: 100%;
  background-position: center;
}
.banner.posts_page {
  display: block;
}
.banner-overlay {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 0px;
	color: white;
}
.banner-top {
	height: 28%;
}
.banner-heading {
  position: relative;
  margin: auto;
  width: 70%;
  text-align: center;
  color: black;
  width: 100%;
}
.banner-site-description {
  margin: auto;
  margin-top: 12px;
  width: fit-content;
  color: black;
  width: 100%;
  text-align: center;
}
.page {
	font-weight: 600;
}
input, textarea {
	border: 1px solid black !important;
	border-radius: 12px !important;
	background: white !important;
	font-size: 3vw !important;
}
.btn-primary {
  color: black;
  font-weight: 600;
}
.unfollow {
  color: white;
}
.new_user label, .new_user .form-text {
  color: white !important;
}
.response-form {
  background-color: #513bbb !important;
  padding: 2% !important;
}
a, a:hover {
  color: yellow;
  color: yellow;
}

input[type='checkbox'] {
  width: 25px;
  height: 25px;
  margin-right: 11px;
  padding: 12px;
  display: inline-block;
  margin-left: 0px;
  margin-right: 12px;
  position: relative;
  -webkit-transform: scale(1);
  transform: scale(1)
}
input[type='radio'] {
  width: 25px;
  height: 25px;
  margin-right: 11px;
  padding: 12px;
  display: inline-block;
  margin-left: 0px;
  margin-right: 12px;
  position: relative;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.question_answer_type label {
  color: #11120b;
  margin: 0px !important;
}
label {
  color: #11120b;
}
.btn-primary {
  border: 2px solid black !important;
}
.clickable {
  width: 100%;
  background: #4d4ac8;
  padding: 5px 8px;
  border-radius: 5px;
}
.invalid-feedback {
  color: red;
}