.question {
	background-color: white;
	padding: 12px;
	margin: 15px 0px 0px 0px;
	/*box-shadow: 2px 2px 3px #f2f5f9;*/
}
.answer-text.question {
  margin-top: 2px;
}
.question a {
  color: white;
}
.question-actions {
	margin-top: 20px;
}
.question-actions div {
	margin-right: 20px;
}
.white {
	color: white;
}
.question-text {
	font-weight: 600;
  color: red;
}
.answer-text {
  color: yellow;
  font-weight: 600;
}
.answer {
  font-size: 24px;
  margin: 5px 0px 5px 0px;
  border: 2px solid #210d0d;
  border-radius: 8px;
  background: #2e358b;
}
.answer:last-child {
	margin-bottom: 12px;
}
.questions-actions a {
	margin-right: 12px;
}
.user-details, .accept-response, .answer-action a {
  color: #382323 !important
}
.filter-response-link {
  background: #ff0;
  padding: 2vw;
  float: left;
  margin: 1vw;
}
.filter-response-link:first-child {
	margin-right: 5px;
}
.response-filters {
  overflow: auto
}
.response-filters a {
  background: #4d4ac8 !important;
  color: white !important;
  font-size: 25px !important;
  font-weight: 100;
  padding: 5px 10px 5px 5px !important;
  margin: 4px !important;
  display: inline-block;
  float: left;
  border: 1px solid blue;
  border-radius: 8px;
}
.my-responses > a {
    margin: 0px 30px 20px 0px !important;
}
.dashboard-main-action {
    font-size: 20px !important;  
}
