.question {
  background-color: white;
  border-radius: 5px;
  padding: 12px;
  margin: 15px 0px 0px 0px;
  /*box-shadow: 2px 2px 3px #f2f5f9;*/
}
.question.response-form {
  background-color: #aeb2f7;
}
.question p {
  font-size: 21px;
  font-weight: normal;
  word-break: break-all;
}
.boolean input {
  margin-top: 5px !important;
  width: 30px !important;
  height: 30px !important;
}
.boolean label {
  margin-left: 20px !important;
  margin-top: 5px !important;
  padding-top: 0px !important;
}
.radio_buttons input {
  margin-top: 5px !important;
  width: 30px !important;
  height: 30px !important;
}
.radio_buttons label {
  margin-left: 20px !important;
  margin-top: 5px !important;
  padding-top: 0px !important;
}
.question, .question-text, .answer-text {
  font-size: 24px;
}
.message {
  text-align: center;
  color: red;
}
.responses-container .question {
  margin-right: 15px;
}
input[type="submit"] {
  height: 41px !important;
  width: 84px !important;
  background: chartreuse;
  margin-top: 12px;
  border-radius: 6px;
  border: 1px solid black;
  font-size: 21px;
  text-align: center;
}
.survey-question-text {
  margin-bottom: 12px;
}
.response-form h3 {
  font-size: 40px;
}
.question p {
  font-size: 28px;
}