.new-question {
	color: white
}
.group-post {
	border-radius: 5px;
	margin-bottom: 12px;
	padding: 10px 10px 0px 10px;
  border: 2px #c7a29c;
}
.post {
  padding-bottom: 8px;
  border-radius: 4px;
  padding: 10px;
  text-align: left;
}
.post-text p {
  font-size: 22px;
  text-align: left;
}
.post-title h2 a {
  text-align: left;
  color: #170b8c !important;
  font-size: 30px;
}
.group-post:first-child {
	margin-top: 12px;
}
.post-body {
	margin-top: 10px;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #0a0801;
  word-break: break-word;
}
.post-body img {
  width: 100%;
}
.comments {
	margin-top: 10px;
}
.comment {
	margin-bottom: 12px;
}
.latest-comment {
	background-color: #d0c048;
}
.comment .comment {
	margin-left: 12px;
}
.add-question {
  color: white;
}
.post_text {
	margin-bottom: 0px !important;
}
.post-image {
	width: 100%;
	margin-bottom: 12px;
}
.image-upload {
	background-color: white;
	border-radius: 8px;
	padding: 10px;
	margin-bottom: 10px;
  padding: 10px 0px 10px 0px;
}
.image-upload .form-group {
	margin-bottom: 0px;
}
.comment-form {
	margin-bottom: 10px;
}
.comment-actions a:hover {
	color: black;
}
.comment-actions {
	margin: 12px;
  display: inline-block;
}
.new-group-post {
	display: none;
  color: black;
}
.new-group-post:hover {
  color: red;
}
.new-group-post:first-child {
	display: block;
}
.image-upload label {
	display: none;
}
.imogee {
  font-size: 24px;
}
.question {
  background-color: #a1c317;
  color: white;
  border: 3px solid #3d3d40;
  color: black;
  display: inline-block;
}
.dashboard-main-action {
  background-color: #eee;
  padding: 2%;
  margin: 12px;
  float: left;
}
a {
  color: white;
}
a.comment-action{
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 9px;
  display: inline-block;
}
a.user-switch.pull-left {
  margin: 6px;
  border: 1px solid yellow;
  padding: 3px 6px;
  border-radius: 9px;
  background-color: #505f6d;
}
.post-title {
  width: 100%;
  padding-top: 3%;
}
.post-title h1 {
  width: 90%;
  display: block;
  margin: auto;
  text-align: center !important;
}
.expand-comment {
  font-size: 17px;
}
.new-group-post {
  margin-top: 18px;
  margin: auto;
  text-align: center;
}
.banner p {
  margin: 12px 12px;
}
.banner {
  background-size: cover;
  position: relative;
  width: 100%;
  background-position: center;
}
.banner.posts_page {
  display: block;
}
.banner-overlay {
  width: 100%;
  background: #0000006b;
  position: absolute;
  top: 0px;
  color: white;
  display: none;
}
.banner-top {
  height: 28%;
}
.banner-heading {
  margin: auto;
  width: 70%;
  text-align: center;
  color: black;
  width: 100%;
}
.banner-site-description {
  margin: auto;
  margin-top: 12px;
  width: fit-content;
  color: black;
  width: 100%;
  text-align: center;
}
.banner img {
  width: 100%;
}
.banner-heading {
  position: absolute;
  top: 20%;
}
.banner-heading {
  font-size: 6vw;
  padding: 1%;
}
.banner-site-description {
  font-size: 5vw;
}
@media(max-width: 370px) {
  .banner-heading {
    font-size: 28px !important;
  }
  .banner-site-description {
    font-size: 22px;
  }
}
.galery h2 {
  width: 90%;
  display: block;
  margin: auto;
  margin-top: 20px;
}
.edit-galery-picture {
  margin-left: 12px;
  display: inline-block;
}
.remove-picture {
  margin-right: 12px;
  display: inline-block;
}
.picture .remove-image, .picture .select-survey, .picture .pin-select {
  margin-right: 12px; 
}
.chats-container {
  max-width: 500px;
  display: block;
  margin: auto;
}
.chats-container .chats {
  padding: 2% !important;
  background-color: darkgray;
  border-radius: 6px;
}
.chat-container {
  margin: 12px;
}
.chat-input {
  border-radius: 0 0 10px 10px !important;
  height: 72px;
}