.new-question {
	color: white
}
.group-post {
	border-radius: 5px;
	margin-bottom: 12px;
	padding: 10px 10px 0px 10px;
  border: 2px #c7a29c;
}
.post {
  padding-bottom: 8px;
  background: linear-gradient(to right, rgba(243,93,73,1) 0%, rgba(181,163,239,1) 0%, rgba(249,124,102,1) 100%);
}
.group-post:first-child {
	margin-top: 12px;
}
.post-body {
	margin-top: 10px;
  font-weight: 400;
  font-size: 4vw;
  letter-spacing: 1px;
  line-height: 5vw;
  color: #0a0801;
  word-break: break-word;
}
.post-body img {
  margin-top: 3%;
  width: 100%;
}
.cast-vote {
	border-radius: 5px;
	display: block;
}
.cast-vote:hover {
	text-decoration: none;
}
.comments {
	margin-top: 10px;
}
.comment {
	margin-bottom: 12px;
}
.latest-comment {
	background-color: #d0c048;
}
.comment .comment {
	margin-left: 12px;
}
.add-question {
  color: white;
}
.post_text {
	margin-bottom: 0px !important;
}
.post-image {
	width: 100%;
	margin-bottom: 12px;
}
.image-upload {
	background-color: white;
	border-radius: 8px;
	padding: 10px;
	margin-bottom: 10px;
  padding: 10px 0px 10px 0px;
}
.image-upload .form-group {
	margin-bottom: 0px;
}
.comment-form {
	margin-bottom: 10px;
}
.comment-actions a {
  background: #771414;
  padding: 0.5% 2%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 12px !important;
  display: inline-block;
  border-radius: 12px;
  color: white;
  margin-bottom: 12px;
}
.comment-actions a:hover {
	color: black;
}
.comment-actions {
	margin-top: 12px;
}
.cast-vote {
  background: blue;
}
.new-group-post {
	display: none;
  color: yellow;
}
.new-group-post:hover {
  color: red;
}
.new-group-post:first-child {
	display: block;
}
.image-upload label {
	display: none;
}
.imogee {
  font-size: 4vw;
}
.question {
  background-color: #a1c317;
  color: white;
  border: 3px solid #3d3d40;
  color: black;
  display: inline-block;
}
.dashboard-main-action {
  background-color: #eee;
  padding: 2%;
  margin: 12px;
  float: left;
}
a {
  color: white;
}