a:hover {
  color: blue !important;
}
p a {
  color: blue !important;
  font-size: 26px
}
.search-panel {
  width: 100% !important;
}
.search-panel input {
  border-radius: 7px !important;
  width: 100%;
}
.active-tab {
	border: 1px solid red;
	border-radius:4px;
	background-color: #baba2d;
	padding: 3px 5px;
}
.user-details .avathar {
	margin-right: 4px;
}
.question .user-name {
	color: white;
}
.home-access_restricted a, .home-access_restricted a:hover {
	color: yellow;
}
.has-new-chats {
	background-color: red !important;
}
.search {
	margin: 0px !important;
	width: 62%;
}
.search input {
	padding-left: 2%;
}
.main-description {
	font-size: 30px;
}
.fb-sign-in {
	color: white;
	background: blue;
	padding: 4px;
	border-radius: 3px;
}
.question-wraper {
	padding: 0px 0px 6px 0px !important;
}
.questions {
	margin-bottom: 10px;
	overflow: auto;
}
.pagination-links {
	padding: 20px 20px 20px 20px;
}
.pagination .current, .disabled {
	color: grey;
}
.answer-action {
	width: 100%;
	text-align: right;
}
.question-preview .question-text {
	margin-top: 10px;
}
.question-preview {
	margin: 15px 15px 0px 0px;
}
.more-questions {
	margin-top: 10px;
}
.question-preview img {
	width: 30px;
}
.message {
	padding: 10px;
}
.new-question {
	margin: 12px 15px 0px 0px;
}
@media (max-width: 576px) {
    .question, .new-question {
	    margin: 15px 0px 0px 0px !important;
    }
}
.search {
	margin-right: 15px;
}
.search input {
	border-radius: 5px;
}
.view-more-questions-container {
	width: 100%;
}
.gender_form span {
	display: block;
}
.gender_form input {
	margin-right: 10px;
}
.h-desc {
	color: black;
}
.leave-chat {
	margin-left: 12px;
}
.preview {
	position: fixed !important;
	top: 0px;
	background-color: white !important;
	left: 12.48%;
	padding: 2% !important;
	color: black !important;
}
.preview-body {
	min-height: 40vh;
	max-height: 40vh;
	overflow: scroll;
}
.close-cancel:hover {
	color: black !important;
	text-decoration: none !important;
	cursor: pointer !important;
}
.close-cancel {
	color: black !important;
	text-decoration: none !important;
}
pre code {
	padding: 4%;
	background-color: #1a3916;
	margin-left: 0%;
	border-radius: 10px;
	color: yellow !important;
	display: block;
}
.edit-open {
	font-size: 40px;
	margin-top: -23px;
	color: red;
}
.edit-open:hover {
	color: black !important;
	text-decoration: none !important;
	cursor: pointer !important;
}
.invalid-feedback {
	font-size: 25px !important;
  font-weight: 300 !important;
}
#search {
  height: 40px;
  font-size: 21px !important;
  padding-left: 10px;
  max-width: 96%;
  border: 1px solid blue !important;
  width: 400px;
}
#search:focus {
  outline: none;
}
.validation-errors {
	border-radius: 8px;
	padding: 13px;
	font-size: 20px;
}
.sub-nav-bar {
  background: #6172c2;
  position: relative;
  width: 100%;
  padding: 12px;
}

.sub-nav-bar-item {
  display: table-cell;
  margin-left: 20px;
  margin-top: 10px;
  float: left;
  color: black;
  padding: 3px 5px;
  border: 1px solid white;
  width: 144px;
  border-radius: 4px;
  text-align: center;
}
a.sub-nav-bar-item:hover {
	color: yellow !important;
}
.question.response-form {
	background-color: #2d3d3d;
}
.post a, .post a:hover {
	color: black;
}
.user-avathar, .delete-post {
	display: inline-block;
}
legend {
	display: none !important;
}
.question p {
  font-size: 21px;
  font-weight: normal;
}
.boolean input {
  margin-top: 5px !important;
  width: 30px !important;
  height: 30px !important;
}
.boolean label {
  margin-left: -14px !important;
  margin-top: 5px !important;
  padding-top: 0px !important;
  color: black !important;
}
.radio_buttons input {
  margin-top: 0px !important;
  width: 16px !important;
  height: 16px !important;
}
.radio_buttons label {
  margin-left: 20px !important;
  margin-top: 5px !important;
  padding-top: 0px !important;
}
.question, .question-text, .answer-text {
  font-size: 24px;
}
.message {
  text-align: center;
  color: #d3f506;
}
.quick-poll-container {
  margin-top: 8px;
}
.survey-select, .quick-poll-select, .project-select, .fbt-select-nil, .new-galery, .new-phone, .edit-social-link, .add-video, .remove-image, .button-select, .new-phone {
  float: right;
  width: 200px;
  text-align: center;
}
.access-restricted {
  background-color: yellow;
  color: black;
  padding: 12px;
  margin-bottom: 12px;
}
.search-field {
  max-width: 360px;
  width: 100%;
  border-radius: 10px !important;
}
.banner {
  background-size: cover;
}
.dropdown-menu {
  background-color: #421f26 !important;
}
.account-action {
  background-color: #421f26 !important;
  color: white !important;
  font-size: 20px !important;
}
.account-action:hover {
  background-color: white !important;
  font-size: 20px !important;
  color: #421f26 !important;
}
.registrations-edit, .registrations-update {
  background-color: white;
}