.users {
  font-size: 24px;
}
.user-name {
  width: 300px;
}
.site {
  width: 300px;
}
.user {
  border-bottom: 1px solid white;
}
.business-card {
  width: 300px;
}
.url-for-asset {
  font-size: 14px;
}