#post_survey_id, #post_quick_poll_id, #post_project_id {
  width: 200px;
  height: 40px;
  margin-top: 12px !important;
}
.pin-survey-ack, .pin-quick-poll-ack, .pin-project-ack {
  margin-top: 12px;
}
.post-actions a {
  margin-left: 12px;
}
.select-container {
  border: 1px solid blue;
  padding: 8px;
  border-radius: 8px;
  background: aqua;
  width: 222px;
}
.pin-select {
  width: 200px;
}
.user-details {
  font-size: 24px;
}
.group-post.important {
  background: darkorange;
}
.session-links {
  margin-right: 12px;
}
.new-response {
  margin-top: 30px;
}