#post_survey_id, #post_quick_poll_id, #post_project_id {
  width: 200px;
  height: 40px;
  margin-top: 12px !important;
}
.pin-survey-ack, .pin-quick-poll-ack, .pin-project-ack {
  margin-top: 12px;
}
.post-actions a {
  margin-left: 12px;
  font-size: 22px;
}
.select-container {
  border: 1px solid blue;
  padding: 8px;
  border-radius: 8px;
  background: aqua;
  background: aqua;
  background: aqua;
  width: 222px;
}
.pin-select {
  width: 200px;
}
.user-details {
  font-size: 24px;
}
.session-links {
  margin-right: 12px;
}
.new-response {
  margin-top: 30px;
}
.new-response .actions {
  margin-bottom: 12px;
}
.post-text {
  margin: 12px 12px 20px 12px;
}
.user-avathar {
  margin-left: 2%;
}

.model-response-viewer {
  width: 100%;
}
.notif {
  display: block;
  margin: 12px;
}
.notification {
  background: #e1d6d6;
  padding: 0px 8px 0px 8px;
  margin-bottom: -1px;
  border-radius: 4px;
  border: 1px solid #2640a0;
  background: linear-gradient(90deg, rgba(199,193,3,1) 0%, rgba(180,237,17,1) 35%, rgba(0,212,255,1) 100%);
}
.notification a {
  color: black;
}
.notification a:hover {
  color: red !important;
}
.post-title h1 a {
  font-size: 40px;
}
.small-post-title h1 a {
  font-size: 24px;
  font-weight: bold;
  color: black;
}
.post {
  background-color: white;
}
.project-container, .quick-poll-container, .survey-container, .galery-container {
  margin-bottom: 20px;
}
.inner .survey-container {
  margin-bottom: 0px !important;
}
.small-post {
  padding-bottom: 0px;
  border: none !important;
  padding: 0px 12px;
}
.small-post-title .name {
  margin-bottom: 0px;
}
.small-post:hover {
  box-shadow: 1px 1px 4px #ac8888, -1px -1px 4px #b88d8d;
}
.small-post h2 {
  margin-bottom: 0px;
  line-height: 34px;
}
.small-post .post-text {
  margin: 0px;
  padding: 0px;
  margin-bottom: 12px;
}
.small-post .post-body {
  margin-bottom: 12px;
}
.post-title h1 a:hover {
  color: blue !important;
}

.galery {
  width: 100%;
  margin-bottom: 12px;
}
.galery h1 {
  width: 100%;
}
.upload-picture {
  margin: 12px;
}
.galery .form-group.picture_img {
  float: left;
  width: 50%;
}
.galery .inline-input {
  height: 40px;
  padding: 4px 4px 4px 4px !important;
}
.picture {
  display: inline-block;
  box-sizing: border-box;
  padding: 5px !important;
}
.edit-button {
  margin: 12px;
}
.galery .edit-container {
  margin: 12px;
}
.galery p {
  margin: 12px;
}
.simple_form.add-picture {
  width: 100%;
  margin-top: 12px;
}
.picture_caption {
  width: 100%;
}
.galery {
  border: 1px solid black;
}
.add-picture {
  border: 1px solid;
  padding: 12px;
  display: inline-block;
}
#picture_img {
  width: 118px;
  margin-top: 12px;
}
.picture .button-container {
  text-align: center;
}
.pictures {
  border-top: 1px solid;
}
.picture {
  text-align: right;
  border: 1px solid black;
}
.remove-picture, .remove-picture {
  margin-bottom: 12px;
}
#picture_survey_id {
  width: 200px;
  margin-top: 12px;
}
#picture_linked_post_name {
  width: 156px;
}
#picture_linked_post_id {
  width: 156px;
}
.edit-galery-form {
  margin: 12px;
}
.posts-index {
  background-color: #481313 !important;
}
.social-ico {
  width: 50px !important;
}
.edit-social-link {
  margin-bottom: 30px;
  margin-left: 12px;
}
.video-iframe {
  position: relative;
  padding-bottom: 50%;
  width: 90%;
  margin: auto;
}
.video-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-caption {
  margin: 12px;
  margin: auto;
  text-align: center;
}
.new-galery, .new-phone, .add-video, .remove-image, .new-phone {
  margin-bottom: 30px;
}
.form-check-label.boolean.optional {
  padding-left: 12px;
}
.video {
  border: 1px solid black;
}
.edit-video {
  margin-left: 12px;
}
.delete-video {
  margin-right: 12px;
}
.video-caption {
  width: 90%;
  margin: auto;
  margin-top: 12px;
}
.form {
  background-color: white;
}
.default {
  color: black;
  background-color: white;
  padding: 12px;
  border-radius: 12px;
}
.phones-container {
  margin-bottom: 24px;
}
.gps-message {
  background-image: linear-gradient(45deg, blue, red, green);
  border: 2px solid red;
  border-radius: 8px;
  color: white;
}
.suggestions {
  min-width: 240px;
  position: absolute;
  background: white;
  padding: 13px 0px;
  border: 1px solid blue;
  margin-left: 12px;
  margin-top: 12px;
  border-radius: 8px;
}
.suggestion {
  padding: 3px 8px;
  width: 100%;
  display: block;
}
.suggestion:hover {
  color: white;
  background-color: black;
}
.small-post a {
  color: inherit;
}
.expand-reply {
  margin-top: 17px !important;
}
.comments-container {
  margin: 0px 12px 12px 12px;
}
.comment {
  border: 1px solid black;
  padding: 12px;
}