.common-bg {
  padding: 0px;
}
.post {
  border-radius: 0px;
  border: 0px;
  margin: 0px;
}
.group-post:first-child {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.nav-bar {
  border-bottom: 0px;
}
.search-panel.search {
  display: none;
}
.user-avathar {
  display: none;
}
.new-response {
  padding: 5px;
  border: 2px solid blue;
  margin-bottom: 12px;
  background: darkgray;
}
.galery {
  border: none;
}
.pictures {
  border-top: none;
}