.post form {
  background-color: white !important;
  padding: 3%;
  background-color: white !important;
}
.post form label {
  color: black !important;
}
.post .video, .post .picture, .post .galery {
  border: 1px solid red;
}
.post-text textarea {
  height: 400px;
}
.post .response-form form {
  background-color: transparent !important;
}

#post_project_id {
  width: 186px;
}
.pictures {
  padding: 4px;
}