.response-form {
	max-width: 535px;
	margin: auto;
}
.response-form h3 {
  text-align: center;
}
.responses-container .question {
	margin-right: 15px;
  box-shadow: 1px 1px 2px blue;
}
.new_response {
	margin-top: 10px;
}
.accepted-responses > .question > .user-details {
  color: white !important;
}
.leave-chat {
  color: yellow !important;
}