.question.help-text {
  margin: 12px 10px 0px 0px;
}
.question-text {
/*  margin-bottom: 12px; */
}
.question textarea {
  margin-top: 12px;
}
.answer-type-form {
  margin: 2px;
  padding: 8px;
}
.option a {
    color: white;
    font-size: 20px;
    margin-right: 12px;
}
.stunted {
  max-height: 75px;
  overflow: hidden;
}
.form-check-input.check_boxes {
  
}
.responses-container .user-name {
  color: yellow;
}
.survey-label {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.survey-question-text {
  font-size: 24px;
  margin-bottom: 12px;
}
.response-form, .response-form .question, .response-form.question {
  background-color: white !important;
  color: black !important;
  background-color: #859ede !important;
  color: black !important;
  border: #8d8dd8;
}
.new-option {
  font-size: 20px;
}
a.edit-option, a.delete-option, a.edit-question, a.delete-question, a.new-option {
  font-weight: normal;
} 
.answer .question-text, .answer .answer-text {
  font-weight: normal;
}
.dashboard {
  font-weight: normal;
}

.button-select, .edit-question, .delete-question, .edit-post-link, .dashboard, .delete-option, .edit-option, .new-option, .add-question, .feature, .quick-poll-select, .survey-select, .project-select, .fbt-select-nil, .new-galery, .edit-button {
  padding: 5px 6px;
  border-radius: 5px;
  border: 1px solid #3d3d3f;
  margin-top: 8px; 
  background: #2e5ee1;
  display: inline-block;
}
input[name=commit], .cancel-form {
  margin-right: 12px !important;
  margin-bottom: 12px;
  margin-top: 12px;
}
input[name=commit]:hover {
  color: yellow !important;
}
.boolean-selector {
  background: blue;
  margin-top: 8px;
}
.quick-poll-container, .survey-container, .project-container {
  clear: both;
}
.survey-question-handle, .group-question-handle, .user-question-handle, .option-handle, .quick-poll-question-handle {
  width: 20px;
  height: 20px;
  border-radius: 25%;
  background-color: yellow;
}
.response-form .question {
  background-color: #eedede !important;
  border: #eedede;
}
.response-form .survey-label {
  background-color: #eedede !important
}
.hide-options, .show-options {
  width: 70% !important;
  text-align: center;
  margin: auto;
}
label {
  text-align: left !important;
}
.response-navigate {
  margin-right: 5%;
  border: 1px solid yellow;
  padding: 6px;
  border-radius: 6px;
  display: inline-block;
  margin-top: 12px;
}
.handle-response {
  margin-right: 30%;
}
.survey-question-text-line, .survey_response_answers_line {
  font-size: 24px;
  margin-bottom: 12px;
  display: inline-block;
  max-width: 99%;
}
.survey_response_answers_line {
  width: 34%;
  float: right;
}
img.map-ico {
  width: 50px;
}
.new-response h3 {
  color: blue;
}
.highlight {
  border: 2px solid yellow !important;
  background-color: brown;
}
.highlight .answer-text {
  background-color: black !important;
}