.question.help-text {
  margin: 0px 10px 0px 0px;
}
.answer-type-form {
  margin: 2px;
  padding: 8px;
}
.option a {
    color: white;
    font-size: 20px;
    margin-right: 12px;
}
.stunted {
  max-height: 75px;
  overflow: hidden;
}
.form-check-input.check_boxes {
  
}
.responses-container .user-name {
  color: yellow;
}
.survey-label {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.survey-question-text {
  font-size: 24px;
  margin-bottom: 12px;
}
.response-form, .response-form .question, .response-form.question, .response-form.question label {
  background-color: white !important;
  color: black !important;
}