.welcome {
  padding: 12px;
  box-shadow: 1px 2px 3px black;;
  margin: 24px 2%;
  margin-top: 24px;
  color: black;
  border: radius;
  border-radius: 12px;
  margin-bottom: 12px;
  text-shadow: 9px 9px 14px;
}
.welcome-block {
  font-size: 28px;
  margin-top: 18px;
}