.new-response
  %h3
    Please Sign up or sign in to respond
  .actions
    = link_to 'Sign in', new_user_session_path, class: 'session-links btn-primary'
    = link_to 'Sign up', new_user_registration_path, class: 'session-links btn-primary'
