.access-restricted
  %h3.text-left
    Please
    = link_to 'Sign in', new_user_session_path, class: 'session-links btn-primary'
    or
    = link_to 'Sign up', new_user_registration_path, class: 'session-links btn-primary'
    to respond