.users
  - @users.each do |u|
    .question
      .col-sm-4.pull-left
        = u.name
      .col-sm-4.pull-left
        = u.email
      .col-sm-4.pull-left
        = link_to 'assign', paste_survey_survey_response_path(sender_id: @survey.parent_post.id, user_id: u.id), method: :post, remote: true, class: 'assign-user'
      .clearfix
