- if current_user.blank? && !@survey.anonymous?
  = render partial: 'authorize'
.question.response-form
  .pull-left
    %h3= @survey.name
    %p= @survey.description
  .clearfix
  - if @survey.questions.count > 0
    = render partial: 'form'
  - else
    %h3.message
      This survey is not ready to answer
