.response-form.survey{data: {anonymous: @survey.anonymous?.to_s}}
  = link_to 'edit questions', dashboard_survey_path(@survey), class: 'pull-right configure'
  .clearfix  
  %h3.text-center= @survey.name
  %p.text-center= @survey.description
  .clearfix
  - if @survey.questions.count > 0
    = render partial: 'form'
  - else
    %h3.message
      This survey is not ready to answer
