- quick_poll.each do |g|
  = render partial: 'quick_polls/quick_poll', locals: {quick_poll: g, actions: false}
.more-responses
  - if quick_poll.next_page
    = link_to 'View more', search_quick_poll_path(query: params[:query], page: (params[:page].present? ? params[:page].to_i + 1 : 2)), remote: true, class: 'view-more'
