
.question.response-form
  - unless current_user
    = render partial: 'authorize'
  .pull-left
    %h2
      = @quick_poll.name
    %p
      = @quick_poll.description
  .clearfix
  - if @quick_poll.questions.count > 0
    = render partial: 'form'
  - else
    %h3.message
      This quick poll is not ready to vote