- unless current_user
  = render partial: 'authorize'
.question.response-form
  .pull-left
    %h2
      = @quick_poll.name
    %p
      = @quick_poll.description
  .clearfix
  = render partial: 'form'